<div class="panel left">
  <h1>Edit Profile</h1>

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |e| %>
            <li><%= e %></li>
          <% end %>
        </ul>
      <% end %>

      </br>
      Email:</br>
      <%= f.text_field :email %>
      </br>
      </br>
      Name:</br> 
      <%= f.text_field :name %>
      </br>
      </br>
      Password:</br> 
      <%= f.password_field :password %>
      </br>
      </br>
      Password Confirmation:</br> 
      <%= f.password_field :password_confirmation %>
      </br>
      </br>
      Bio:</br> 
      <%= f.text_area :bio, cols:40, rows:5 %>
      </br>
      </br>
      <%= f.submit "Update" %>

    <% end %>
  </p>
</div>