 <% if current_user %>
    <%= render 'tweets/new_form' %>
<% end %>

<div id="tweets" class="panel left">
    <h1>Twitter Profile</h1>
    <div class="tweetWrapper">
        <img class="avatar" src="<%= @user.avatar_url %>">
        <span class="name"><%= @user.name %></span> @<%= @user.username %>
        <p>
        <%= @user.tweets.length %> Tweets
        <span class="spacing">XX Followers</span>
        <span class="spacing">XX Following</span>
        </p>
    </div>
</div>

<div class="panel left">
    <h1>Tweets</h1>
    <div class="tweetWrapper">
        Tweets coming . . .
    </div>
</div>

<%= javascript_include_tag 'tweets' %>